@import "tailwindcss";

/* Hide scrollbars globally but keep scrolling */
* {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

*::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
    width: 0;
    height: 0;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}